#table_result {

    max-width: 70vh;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30vh;
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    table {
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ddd;
    }
    
    th {
      background-color: #f4f4f4;
    }
    
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
  
